* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lakki Reddy", handwriting;
}
header {
  width: 100%;
  height: 11vh;
  display: flex;
  justify-content: center;

  background-color: #efefe7;
}

header img {
  height: 9vh;
}

header nav {
  /* width: 976px; */
  background-color: #050404;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #efefe7;
  opacity: 0;
  transform: translateY(-30px);
  animation: apparition 0.4s ease-out forwards;
}

h1 {
  font-family: "Lakki Reddy", handwriting;
  font-size: 3rem;
}

.container {
  display: flex;
  gap: 1rem;
  align-items: center;
  background-color: #efefe7;
  justify-content: center;
}

.bloc1 {
  width: 80vh;
  height: 90vh;
}

.bloc1 h2 {
  font-family: "Lakki Reddy", handwriting;
  font-size: 4rem;
  text-align: center;
  margin-top: 2rem;
  opacity: 0;
  transform: translateY(-30px);
  animation: apparition 0.8s 0.2s ease-out forwards;
}
.bloc1 p {
  font-family: "Lakki Reddy", handwriting;
  font-size: 1.6rem;
  text-align: justify;
  padding: 1.7rem;
  opacity: 0;
  transform: translateY(-30px);
  animation: apparition 0.8s 0.4s ease-out forwards;
}

.bloc1 img {
  width: 9.375rem;
  position: relative;
  left: 40%;
  opacity: 0;
  transform: translateY(-30px);
  animation: apparition 0.8s 0.4s ease-out forwards;
}

.bloc2 {
  width: 120vh;
  height: 90vh;

  padding: 5rem;
}

.poster {
  text-align: center;
}

.bloc2 img {
  margin: 1rem;
  width: 15rem;
  opacity: 0;
  transform: translateX(30px);
  animation: apparition 1s 0.7s ease-out forwards;
}

.transition {
  width: 100%;
  height: 21rem;

  text-align: end;
  background-color: #242223;
}

.transition img {
  width: 37.5rem;
  height: 21rem;
  max-width: 37.5rem;
  max-height: 21rem;
}

.btns {
  width: 100%;
  height: 8rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #efefe7;
}
button {
    padding: 25px 30px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.6s;
}
.buttonClicked{
    background-color: #68F73C;
    box-shadow: 0 0 5px #68F73C,
    0 0 15px #68F73C,
    0 0 30px #68F73C,
    0 0 120px #68F73C;
}
.cardSection {
  height: 77.5rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  background-color: #252325;
  color: #efefe7;
  position: relative;
}
.card {
  width: 30%;
  height: 13.438rem;

  border-radius: 10px;
  margin: 2rem 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: #4c484c;
}
 .blur.active{
    filter: blur(20px);   
    /* pointer-events: none;  */
    user-select: none;
    
}
.popup {
    border-radius: 10px;
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 600px;
    padding: 50px;
    box-shadow: 0 5px 30px rgba(0, 0, 0, .30);
    background: #efefe7;
    color: #242223;
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
}
.popup.active {
    filter: blur(0px);
    visibility: visible;
    opacity: 1;
    transition: 0.5s;
    z-index: 10;
    
}

.card:hover {
  cursor: pointer;
  outline: 3px solid #efefe7;
  scale: 1.05;
  transition-duration: 0.8s;
}

.images {
  max-width: 16.563rem;
  max-height: 13.438rem;
}
.card img {
  width: 16.563rem;
  height: 13.438rem;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.header {
  display: flex;
  padding: 20px;
  font-size: 20px;
  flex-direction: column;
}
.name {
  text-transform: uppercase;
}

.background {
  width: 210px;
  height: 180px;
  position: absolute;
  bottom: 0px;
  left: 0px;
}

@keyframes apparition {
  100% {
    opacity: 1;
    transform: none;
  }
}
